<a style="cursor: pointer" class="list-group-item clearfix" routerLinkActive="active">
  <td class="col-md-2"><img class="img-responsive" src="{{item.imageUrl}}"></td>
  <td class="col-md-2">{{item.name}}</td>
  <td class="col-md-2">{{item.partNo}}</td>
  <td class="col-md-2">{{item.description}}</td>
  <td class="col-md-2">{{item.cond}}</td>
  <td class="col-md-1 col-xs-1" style="font-weight: bold;">{{item.quantity}}</td>
  <td class="col-md-2">{{item.giftUser}}</td>
  <td>
    <button type="button" class="btn btn-link btn-xs" (click)="removeOne(item)" value="delete">
      <span class="glyphicon glyphicon-trash"> </span>
    </button>
  </td>
  <!--<span class="pull-right">-->
  <!--<img [src]="recipe.imagePath" alt="" class="img-responsive" style="max-height: 100px;">-->
  <!--</span>-->
</a>
